@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue.woff') format('woff'),
         url('../fonts/BebasNeue.otf') format('opentype');
}

@font-face {
    font-family: 'LaneCane';
    src: url('../fonts/LaneCane.woff') format('woff'),
         url('../fonts/LaneCane.ttf') format('truetype');
}


.slick-track {
    height: 70vh !important;
}

.slick-track:focus, .slick-slide:focus {
    outline: none !important;
}

img.ui.fluid.image {
    max-height: 100%;
    width: auto;
    margin: 0 auto;
}


.ui.container {
    padding: 100px 50px 0px 100px;
}

#menutitle {
    font-family: 'BebasNeue' !important;
    font-size: 18px !important;
    font-weight: bold !important;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: unset !important;
}

#menutitle a {
    color: black;
}

h2.ui.header {
    font-family: 'BebasNeue' !important;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: unset !important;
}

p {
    font-family: 'LaneCane' !important;
    font-size: 14px;
    letter-spacing: 1.5px;
    margin-bottom: unset;
    line-height: 18px;
}

.four.wide.menu.column {
    min-width: 292px;
}

.ui.vertical.menu {
    border: none;
    box-shadow: none;
    margin-top: unset;
}

.ui.vertical.menu .item:before {
    display: none;
}

a.menu.title {
    /* font-family: 'LaneCane', sans-serif !important; */
    font-size: 14px !important;
    text-transform: uppercase;
    letter-spacing: 5px;
}

a.menu.title.active, a.sub.menu.title.active, a.menu.title:hover, a.sub.menu.title:hover, a.menu.title:focus, a.sub.menu.title:focus {
    background-color: black;
    color: white !important;
    font-style: italic;
    width: fit-content;
}

a.project.menu.title.active, a.project.sub.menu.title.active {
    background-color: unset;
    color: black !important;
    font-style: italic;
    width: fit-content;
}

a.project.menu.title:hover, a.project.sub.menu.title:hover, a.project.menu.title:focus, a.project.sub.menu.title:focus {
    background-color: black;
    color: white !important;
    font-style: italic;
    width: fit-content;
}

a.sub.menu.title {
    text-transform: none;
    width: fit-content;
}

.personal.content, .project.content, .commercial.content {
    margin-left: 10px;
}

.ui.menu .item {
    padding: 8px 0;
    display: table !important;
}

.submenu.content {
    width: max-content;
    padding-bottom: 25px !important;
}

.ui.vertical.menu .item>.menu {
    margin: unset;
    display: table;
}

/* Top left text */
.slidenavleft {
    position: absolute;
    height: 100% !important;
    width: 50% !important;
    top: 0px;
    left: 0px;
    background-color: transparent;
}

/* Top right text */
.slidenavright {
    position: absolute;
    height: 100% !important;
    width: 50% !important;
    top: 0px;
    right: 0px;
    background-color: transparent;
}

.contactcard {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 460px;
}

.contactcard a {
    color: white;
}

.social {
    display: flex;
    justify-content: center;
}

h1#contactname {
    font-size: 20px !important;
    letter-spacing: 10px;
    font-weight: 400 !important;
    padding-top: 40px;
    text-transform: uppercase;
    font-family: 'BebasNeue';
    margin-bottom: 0px;
}

h2#contacttitle {
    font-size: 18px;
    letter-spacing: 11px;
    font-weight: 400 !important;
    margin-top: 0px;
}

.social > p {
    padding: 0 10px;
    width: 44%;
}

p.instalink {
    text-align: right;
}

.bloglink {
    width: 12% !important;
    padding: unset !important;
}

.behancelink {
    text-align: left;
}

img.contact.logo {
    width: 60px;
    height: auto;
    border: 2px solid white;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.about.section > .about.text, .about.section > .about.contact > p {
    color: black;
    font-size: 15px;
    line-height: 1.5em;
}

.igazolvanykep {
    max-width: 100px !important;
}

.about.contact {
    margin: 25px 0;
}

.about.section > .second.about.text {
    margin-top: 100px;
}

p.video.title {
    font-family: unset !important;
    font-weight: bold;
    font-size: 1.25em;
    padding: 10px 0;
    margin-bottom: 10px;
}

p.project.details {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
    line-height: 1.5em;
    font-size: 13px;
    padding: 5px;
    padding-top: 30px;
    text-align: justify;
    margin: 0 20px;
}

.about.text, .about.contact > p > a {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
    color: black;
}